 @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@400;500&display=swap');
 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
 }
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
 }
 .box{
    position: relative;
    width: 420px;
    height: 520px;
    background-color: rgba(0, 0, 0, 0.663);
    border-radius: 8px;
    overflow: hidden;
 }
 .box::before{
    content: '';
    position: absolute;
    top: -50%;
    left:-50%;
    width: 420px;
    height: 520px;
   background: linear-gradient(0deg,transparent,#f17070,#ff0000);
   transform-origin: bottom right;
   animation: animate 6s linear infinite;
 }
 .box::after{
    content: '';
    position: absolute;
    top: -50%;
    left:-50%;
    width: 418px;
    height: 518px;
   background: linear-gradient(0deg,transparent,#f17070,#ff0000);
   transform-origin: bottom right;
   animation: animate 6s linear infinite;
   animation-delay: -3s;
 }
 @keyframes animate
 {
    0%
    {
        transform: rotate(0deg);
    }
    100% 
    {
         transform: rotate(360deg);
    }
 }
 .form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
    padding: 20%  30%;
    display: flex;
    flex-direction: column;
 }
 .form h2{
    color:rgb(166, 88, 88);
    font-size: 30px;
    font-weight:bold;
    text-align: center;
 }
 .inputbox{
    position: relative;
    width: 500px;
    margin-top: 35px;
 }
 .inputbox input{
    position: relative;
    width: 50%;
 }